# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# RStudio temporary files
*.Rproj.user

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Environment / secrets
.env
tinytable_assets/
Data/